.validate-item {
  width: 1fr;

  border: 1px solid rgb(226, 220, 220);
  border-radius: 1.5rem;
  padding: 0.75rem 1rem;
}

h4 {
  border-radius: 1rem;
  color: #fff;
  width: fit-content;
  padding: 0.5rem;
}

.PENDING {
  background-color: #aaa;
}

.PASS {
  background-color: rgb(44, 192, 14);
}

.FAILED {
  background-color: rgb(248, 29, 29);
}

p {
  font-size: 0.75rem;
}
